@page
@model DiscordBotTest.Pages.Privacy_PolicyModel

@{
  Layout = "_Layout";
  ViewData["Title"] = Model.Items
    .FirstOrDefault(i => i.Name == "Title")?.Content ?? "Default Title";
}

<ul>
  @foreach (var item in Model.Items)
  {
    @if (item.Name == "Title") continue;
    <li>
      <h2>@item.Name</h2>
      <p>@Html.Raw(item.Content.Replace("-", "<br>-"))</p>
    </li>
  }
</ul>